@page "/detailscustomer/{customerid:int}"
    <h3>EditCustomerSetting</h3>

    <table>
        <tr>
            <td>AttributeID</td>
            <td>@DataModel.AttributeID</td>
        </tr>
        <tr>
            <td>AttributeName</td>
            <td>@DataModel.AttributeName</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>@DataModel.Description</td>
        </tr>
        <tr>
            <td>IsDistributorAttribute</td>
            <td>@DataModel.IsDistributorAttribute</td>
        </tr>
        <tr>
            <td>IsCustomerAttribute</td>
            <td>@DataModel.IsCustomerAttribute</td>
        </tr>
        <tr>
            <td>Used</td>
            <td>@DataModel.Used</td>
        </tr>
    </table>

    
